{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- navbar -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- navbar -->
    <!-- staticfiles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/javascript.js' %}"></script>
    <!-- staticfiles -->
	<title>Draft of Books</title>
</head>
<body>
	<div>
      <nav class="navbar navbar-inverse navbar-fixed-top" id="header">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><b>My PPW Story</b></a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/">Status</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/books">Draft of Books</a></li>
            <li><a href="/registration">Registration</a></li>
            <li><div style="font-size: 1.25em;">
                <button id="button" class="button1">Ubah Tema</button>
            </div></li>
          </ul>
        </div>
      </nav>
    </div>

    <br><br><br><br><br>

    <h3 style="text-align: center;"><b>Draft of Books</b></h3>

    <h4 style="text-align: center;"> Favorite Book Counter : </h4>
    <h2 id="count" style="text-align: center;">0</h2>

    <div class="dropdown" style="margin-left: 45.5%;">
	    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Drafts
	    <span class="caret"></span></button>
	    <ul class="dropdown-menu">
	      <li><a class="change" id="quilting" onclick="key('quilting')" href="#">Quilting</a></li>
	      <li><a class="change" id="java" onclick="key('java')" href="#">Java Programming</a></li>
	      <li><a class="change" id="python" onclick="key('python')" href="#">Python Programming</a></li>
	    </ul>
	  </div>
	</div>

    <br><br>

    <div style="background-color: #ecccce;">
    	<table class="table table-hover">
			<thead id="head-table" style="background-color: #A1282A; color: white; width: 100%">
				<tr>
					<th style="text-align: center;">Cover</th>
					<th style="text-align: center;">Author</th>
					<th style="text-align: center;">Title</th>
					<th style="text-align: center;">Favorite</th>
				</tr>
			</thead>
			<tbody id="body"></tbody>
		</table>
    </div>

    <script>
    	
    </script>
</body>
</html>