{% load static %}

{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Statusku</title>
</head>
<body style="background-color: #D25557">
<div>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="header">
    	<div class="container-fluid">
            <div class="navbar-header">
        		<a class="navbar-brand" href="/"><b>My PPW Story</b></a>
      		</div>
      		<ul class="nav navbar-nav">
        		<li><a href="/">Status</a></li>
        		<li><a href="/profile">Profile</a></li>
        		<li><a href="/books">Draft of Books</a></li>
                <li><a href="/registration">Registration</a></li>
                <li><div style="font-size: 1.25em;">
                    <button id="button" class="button1">Ubah Tema</button>
                </div></li>
      		</ul>
    	</div>
  	</nav>
</div>

<br><br>

<div class="container-fluid col-8">
    <br><br>

    <div class="wrapper" style="margin-left: 25%; margin-right: 25%;">
    	<form method="post">
        	{% csrf_token %}
            <h3>Hey There !</h3><br>
        	<input id="status" type="text" class="form-control" name="status" placeholder="How are you today ?" autofocus></input><br>
        	<button type="submit" id="submit-status" class="btn btn-secondary text-center" name="submit">Update Status</button>
    	</form>
    	<br>
         <form method="get">
             <button type="delete" class="btn btn-secondary text-center" name="delete" style="width: 117px;">Delete Status</button>
         </form>
    </div>
  
    <br>

    <h2 style="margin-left: 20%">Draft of Status</h2>

    {% for i in status%}
    <div class="wrapper">
    	<div class="card" style="margin-right: 20%; margin-left: 20%; border-radius: 10px">
        	<div class="card-body" style="background-color: #ecccce; border-radius: 5px">
        		<h4 class="card-text" style="margin-left: 1%">{{ i.status }}</h4>
        	</div>
        	<div class="card">
        		<p class="card-text" style="margin-left: 1%; color: white">{{ i.datetime }}</p>
        	</div>
    	</div>
    	<br>
  	</div>
  	{% endfor %}
</div>
<script type="text/javascript" src="{% static 'js/javascript.js' %}"></script>
</body>
</html>