{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta charset="utf-8">

	<!-- navbar -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- navbar -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<title>My Profile</title>
</head>
<body>
    <div id="landing">
        <br><br><br>
        <h2 style="text-align: center;"><br><b>Harap Tunggu Sebentar</b><br></h2>
        <br><br><br><br><br>
        <div class="container">
            <div class="progress border">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" id="loading-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
    </div>
    
    <div name="content">
      <div>
        <nav class="navbar navbar-inverse navbar-fixed-top" id="header">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/"><b>My PPW Story</b></a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="/">Status</a></li>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/books">Draft of Books</a></li>
              <li><a href="/registration">Registration</a></li>
              <li><div style="font-size: 1.25em;">
                <button id="button" class="button1">Ubah Tema</button>
              </div></li>
            </ul>
          </div>
        </nav>
    </div>

    <br><br><br>
    
    <br><br>

    <h1 style="text-align: center;">Profil Saya</h1>
    <br>
    <img src="https://i.postimg.cc/0y2tzKc7/IMG-1433.jpg" class="image-center" style="border-radius: 50%; max-width: 50%; max-height: 50%;">

    <br><br>

    <div style="text-align: center;">
      <h4>Reinaldy Rabbany,</h4>
      <h4>"Saya adalah seorang mahasiswa Sistem Informasi, Fasilkom UI 2017"</h4>
    </div>

    <br><br>
    
    <div id="accordion" class="accordion1">
      <div class="accordion-header">Aktivitas & Kesibukan</div>
      <div class="accordion-content">
        Saat ini, saya banyak melakukan aktivitas seputar kehidupan kampus, seperti organisasi & kepanitiaan kampus, dan juga belajar tentunya demi bisa selamat di Fasilkom ini. Selain itu, saya juga suka berolahraga, olahraga saat ini yg masih saya lakukan adalah badminton dan basket.
      </div>
      <div class="accordion-header">Organisasi & Kepanitiaan</div>
      <div class="accordion-content">
        Saya mengikuti organisasi dan kepanitiaan berawal dari SMP dengan menjadi ESB (<i>Exceutuve Student Board</i>). Setelah itu, saya megikuti beberapa organisasi dan kepanitiaan saat SMA dan Kuliah saat ini, seperti 
        <li>Albacadabra 2015 & 2016</li>
        <li>Pensantren Kilat Albayan 2016</li>
        <li>FUKI Fasilkom</li>
        <li>Siwak 2018</li>
      </div>
      <div class="accordion-header">Prestasi</div>
      <div class="accordion-content">
        <i>null</i>
      </div>
    </div>

    <br><br><br>
 
    </div>

    <script type="text/javascript" src="{% static 'js/javascript.js' %}"></script>
    <script>
      $(function() {
        $("#accordion").accordion({
          collapsible: true
        });
      });
    </script>
</body>
</html>