{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<!-- navbar -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- navbar -->
    <!-- Registration Form -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<!-- Registration Form -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- staticfiles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/javascript.js' %}"></script>
    <!-- staticfiles -->
	<title>Registration Form</title>
</head>
<body>
	<div>
      <nav class="navbar navbar-inverse navbar-fixed-top" id="header">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><b>My PPW Story</b></a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/">Status</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/books">Draft of Books</a></li>
            <li><a href="/registration">Registration</a></li>
            <li><div style="font-size: 1.25em;">
                <button id="button" class="button1">Ubah Tema</button>
            </div></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container" style="margin-top: 10%;">
    	<h3 style="text-align: center;"><b>Registration Form</b></h3>    
        <div id="regisbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">          
        	<div class="panel panel-info" >
        		<div class="panel-heading" id="head-panel" style="background-color: #A1282A; color: white">
                    <div class="panel-title">Register</div>
                </div>     
                <div style="padding-top:30px; background-color: #eee" class="panel-body">
                    <div style="display:none" id="register-alert" class="alert alert-danger col-sm-12"></div>   
                    <form id="registerform" class="form-horizontal" role="form" method="post"> 
                    	{% csrf_token %}
	                    <div style="margin-bottom: 25px" class="input-group">
	                        <span class="input-group-addon" id="span-email" style="background-color: #ccc"><i class="glyphicon glyphicon-envelope" style="color: white"></i></span>
	                        <input id="register-email" type="text" class="form-control" name="email" placeholder="email" autofocus="">                                   
	                    </div>
	                    <p id="alert-email"></p>
	                    <div style="margin-bottom: 25px" class="input-group">
	                        <span class="input-group-addon" id="span-username" style="background-color: #ccc"><i class="glyphicon glyphicon-user" style="color: white"></i></span>
	                        <input id="register-username" type="text" class="form-control" name="username" placeholder="username">                                        
	                    </div>
	                    <p id="alert-username"></p>
	                    <div style="margin-bottom: 25px" class="input-group">
	                        <span class="input-group-addon" id="span-password" style="background-color: #ccc"><i class="glyphicon glyphicon-lock" style="color: white"></i></span>
	                        <input id="register-password" type="password" class="form-control" name="password" placeholder="password">
	                    </div>    
	                    <p id="alert-password"></p>
	                    <div style="margin-top:10px" class="form-group">
		                    <div class="col-sm-12 controls">
		                      	<button type="submit" id="btn-register" class="btn btn-success">Register</a>
		                    </div>
	                	</div>
	                	<p id="submit-status"></p>
	                	<small style="color: #ff0000">*all fields is required</small>  
                	</form> 
            	</div>       
        	</div>
    	</div>
    </div>

    <br><br>

    <div style="background-color: #ecccce;">
        <table class="table table-hover">
            <thead id="head-table-regis" style="background-color: #A1282A; color: white; width: 100%">
                <tr>
                    <th style="text-align: center;">Email</th>
                    <th style="text-align: center;">Username</th>
                    <th style="text-align: center;">Unsubcribe</th>
                </tr>
            </thead>
            <tbody id="body-regis"></tbody>
        </table>
    </div>

    <br><br>
	<script>
		
	</script>
</body>
</html>