body {
  background: #d25557;
  line-height: 1.5;
}

nav {
  width: 100%;
  overflow: auto;
}

.wrapper {
  display: grid;  
}

.wrapper > div {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.wrapper > div:nth-child(odd){
  background-color: #A1282A;
}

#header {
  position: fixed;
  top: 0;
  margin-bottom: 10px;
  width: 100%;
  background-color: #A1282A;
  padding: 10px;
}

.accordion1 {
  background: linear-gradient(to bottom right, white, #F8F8F8);
  max-width: 400px;
  background: white;
  margin: 0 auto;
  box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 35px 50px -25px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
}

.accordion-header {
  border-bottom: 1px solid #DDE0E7;
  color: #2a313a;
  cursor: pointer;
  font-weight: 700;
  padding: 1.5rem;
}

.accordion-header:hover {
  background: #ccc;
}

.accordion-content {
  display: none;
  border-bottom: 1px solid #DDE0E7;
  background: #eee;
  padding: 1.5rem;
  color: #4a5666;
}

.accordion-header::before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background-color: #B1B5BE;
  margin-right: .75rem;
}

.active.accordion-header::before {
  background-color: #FC6468;
}

.button1 {
  top: 50%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #9688B4;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button1:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.progress {
margin-bottom: 20px;
}

.progress-bar {
  width: 0;
}

.progress .progress-bar {
  transition: unset;
}